.imgProducto{
    min-width: 1rem;
    max-width: 4rem;
    align-items: center;
    min-height: 2rem;
    max-height: 3rem;
}
.table{
    width: 40vw;
    margin: auto;
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    white-space: nowrap;
    background-color: white;
    text-align: center;
}
.table td {
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    font-weight: bold;
}
.table thead th {
    color: #000;
    background: rgba(251,228,28,255);
    border: 1px solid #000;
}
.boton{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    color: #fff;
    border: 1px solid transparent;
    padding: .3rem .3rem;
    font-size: 1rem;
    border-radius: .25rem;
}
.botonEliminar{
    padding: .2rem .2rem;
    font-size: .9rem;
}
.verde{
    background-color: #198754;
    border-color: #198754;
}
.rojo{
    background-color: rgba(220,53,69,255);    
    border-color: rgba(220,53,69,255);
}
.table tr:nth-child(odd) {
    background-color: transparent;
}
.table tr:nth-child(odd):hover {
    background-color:lightslategray;
}
.table tr:nth-child(even) {
    background-color:lightgrey;
}
.table tr:nth-child(even):hover {
    background-color:lightslategray;
}
button:hover{
    cursor: pointer;
}