*{
    box-sizing: border-box;
    margin: 0;
}
.contenidoApp{
    width: 100%;
    align-items:center;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contentCenter{
    height:80vh;
    align-items:center;
    display:flex;
    flex-direction: column;
    padding-top: 2rem;
}
.contentCenter h1{
    text-align: center;
}
.totalEliminar{
    align-items: center;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}
